:root {
  --white: #fff;
  --dark: #000;
  --blue: #183bb3;
  --grey: #e4e4e4;
  --linkBackGround: #f7f8fc;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--white);
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container .nav_container {
  height: 120px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .nav_container .nilds_logo {
  width: 300px;
  height: 100%;
}
.container .nav_container .nilds_logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
@media (max-width: 1300px) {
  .container .nav_container .nilds_logo {
    width: 200px;
  }
}
.container .nav_container .menuLinksDiv {
  height: 80%;
  display: flex;
  align-items: center;
}
.container .nav_container .menuLinksDiv .menuUL {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  gap: 20px;
}
@media (max-width: 1300px) {
  .container .nav_container .menuLinksDiv .menuUL {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
}
.container .nav_container .menuLinksDiv .menuUL .menuLinks {
  display: flex;
  justify-content: center;
  min-width: 150px;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .container .nav_container .menuLinksDiv .menuUL .menuLinks {
    min-width: unset;
  }
}
.container .nav_container .menuLinksDiv .menuUL .menuLinks a {
  color: var(--dark);
  text-decoration: none;
}
.container .nav_container .menuLinksDiv .menuUL .menuLinks a:hover {
  color: var(--blue);
}
.container .nav_container .menuLinksDiv .menuUL .menuLinks a:active {
  color: var(--blue);
}
.container .nav_container .menuLinksDiv .menuUL .linkWithChild {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.container .nav_container .menuLinksDiv .menuUL .linkWithChild:hover .childLinks {
  display: block;
}
.container .nav_container .menuLinksDiv .menuUL .linkWithChild .childLinks {
  display: none;
  background: none;
  min-width: 200px;
  position: absolute;
  top: 0;
  z-index: 3;
}
.container .nav_container .menuLinksDiv .menuUL .linkWithChild .childLinks ul {
  border: 1px solid var(--grey);
  margin-top: 35px;
  width: 100%;
  list-style: none;
}
.container .nav_container .menuLinksDiv .menuUL .linkWithChild .childLinks ul li {
  list-style: none;
  min-height: 35px;
  display: flex;
  align-items: center;
  padding: 8px 5px 8px 15px;
}
.container .nav_container .menuLinksDiv .menuUL .linkWithChild .childLinks ul li a {
  color: var(--dark);
  text-decoration: none;
  font-size: 13px;
}
.container .nav_container .menuLinksDiv .menuUL .linkWithChild .childLinks ul li a:hover {
  color: var(--blue);
}
.container .nav_container .menuLinksDiv .menuUL .linkWithChild .childLinks ul li a:active {
  color: var(--blue);
}
.container .nav_container .menuLinksDiv .menuUL .linkWithChild .childLinks ul .subLinkDiv {
  border: 2px solid green;
  position: relative;
}
.container .nav_container .menuLinksDiv .menuUL .linkWithChild .childLinks ul .subLinkDiv:hover .subChildLinks {
  display: block;
}
.container .nav_container .menuLinksDiv .menuUL .linkWithChild .childLinks ul .subLinkDiv .subChildLinks {
  background: none;
  min-width: 200px;
  border: 2px solid blue;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}
.container .nav_container .menuLinksDiv .menuUL .linkWithChild .childLinks ul .subLinkDiv .subChildLinks ul {
  margin-left: 200px;
  transform: translateY(-30px);
  border: 1px solid var(--grey);
  min-width: 120px;
  list-style: none;
}
.container .nav_container .menuLinksDiv .menuUL .linkWithChild .childLinks ul .subLinkDiv .subChildLinks ul li {
  list-style: none;
  min-height: 35px;
  display: flex;
  align-items: center;
  padding: 8px 5px 8px 15px;
}
.container .nav_container .menuLinksDiv .menuUL .linkWithChild .childLinks ul .subLinkDiv .subChildLinks ul li a {
  color: var(--dark);
  text-decoration: none;
  font-size: 13px;
}
.container .nav_container .menuLinksDiv .menuUL .linkWithChild .childLinks ul .subLinkDiv .subChildLinks ul li a:hover {
  color: var(--blue);
}
.container .nav_container .menuLinksDiv .menuUL .linkWithChild .childLinks ul .subLinkDiv .subChildLinks ul li a:active {
  color: var(--blue);
}
@media (max-width: 1300px) {
  .container .nav_container .menuLinksDiv {
    font-size: 12px;
    width: 700px;
  }
}
@media (max-width: 900px) {
  .container .nav_container .menuLinksDiv {
    display: none;
  }
}
.container .nav_container .mobileNavbar {
  display: none;
}
.container .nav_container .mobileNavbar .menu_icon_parent span {
  font-size: 40px;
}
@media (max-width: 900px) {
  .container .nav_container .mobileNavbar {
    display: block;
  }
}
@media (max-width: 1300px) {
  .container .nav_container {
    width: 95%;
    gap: 100px;
  }
}
.container .mobileLinksDiv {
  position: absolute;
  top: 0;
  margin-top: 120px;
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease-out;
  display: flex;
  justify-content: center;
  width: 100%;
}
.container .mobileLinksDiv .mobileUL {
  width: 95%;
}
.container .mobileLinksDiv .mobileUL .mobileLI {
  list-style: none;
  min-height: 40px;
  position: relative;
}
.container .mobileLinksDiv .mobileUL .mobileLI .contentLi {
  color: var(--dark);
  min-height: 40px;
  display: flex;
  align-items: center;
}
.container .mobileLinksDiv .mobileUL .mobileLI .contentLi span {
  margin-bottom: 5px;
}
.container .mobileLinksDiv .mobileUL .mobileLI .contentLi a,
.container .mobileLinksDiv .mobileUL .mobileLI .contentLi span {
  text-decoration: none;
  font-size: 14px;
  color: var(--dark);
}
.container .mobileLinksDiv .mobileUL .mobileLI .contentLi a:hover,
.container .mobileLinksDiv .mobileUL .mobileLI .contentLi span:hover {
  color: var(--blue);
}
.container .mobileLinksDiv .mobileUL .mobileLI .contentLi a:active,
.container .mobileLinksDiv .mobileUL .mobileLI .contentLi span:active {
  background-color: var(--linkBackGround);
}
.container .mobileLinksDiv .mobileUL .mobileLI .contentLi span {
  font-size: 18px;
}
.container .mobileLinksDiv .mobileUL .mobileLI .mobileChildLinks .mobileChildUl {
  max-height: 0;
  overflow: hidden;
}
.container .mobileLinksDiv .mobileUL .mobileLI .mobileChildLinks .mobileChildUl li {
  list-style: none;
  padding: 10px 15px;
}
.container .mobileLinksDiv .mobileUL .mobileLI .mobileChildLinks .mobileChildUl li a {
  font-size: 11px;
  text-decoration: none;
  color: var(--dark);
}
.container .mobileLinksDiv .mobileUL .mobileLI .mobileChildLinks .mobileChildUl li a:hover {
  color: var(--blue);
}
.container .mobileLinksDiv .mobileUL .mobileLI .mobileChildLinks .mobileChildUl li a:active {
  color: var(--blue);
}
.container .mobileLinksDiv .mobileUL .mobileLI .mobileChildLinks .mobileChildUl li .mobileSubChildUl {
  max-height: 0;
  overflow: hidden;
}
.container .mobileLinksDiv .mobileUL .mobileLI .mobileChildLinks .mobileChildUl li .active {
  max-height: 5000px;
  transition: all 1.2s ease-in-out;
}
.container .mobileLinksDiv .mobileUL .mobileLI .mobileChildLinks .mobileChildUl .subMobilecontentLi {
  display: flex;
  align-items: center;
}
.container .mobileLinksDiv .mobileUL .mobileLI .mobileChildLinks .active {
  max-height: 5000px;
  transition: all 1.2s ease-in-out;
}
.container .active {
  max-height: 5000px;
  transition: all 1.2s ease-in-out;
}